@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-playfair);

  --color-coffee-dark: #2c241b;
  --color-coffee-medium: #4a3b2a;
  --color-coffee-light: #8c7b6c;
  --color-coffee-cream: #f4f1ea;
  --color-coffee-gold: #c6a87c;
  --color-coffee-accent: #d4a373;
}

:root {
  --background: var(--color-coffee-cream);
  --foreground: var(--color-coffee-dark);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
